{{#if siteSettings.Show_delegate_pitch_form}}
  {{#unless hasSetReason}}
    <button
      type="button"
      class="__karma-send-reason-btn k-btn btn-link"
      onClick={{toggleModal}}
    >
      Delegate pitch {{threadId}}
    </button>
  {{/unless}}

  <div
    id={{modalId}}
    class="__karma-vote-form-modal"
    style="display:none;opacity:0;transform:translateY(20px)"
  >
    <div class="backdrop" onClick={{toggleModal}}>
    </div>
    {{#if loading}}
      {{karma-loading message="Submitting data, please wait."}}
    {{else}}
      {{#unless message.length}}
        <form onSubmit={{submit}}>
          <div class="modal-content">
            <div class="form-reason">
              <label for="reason">
                Submit your Delegate Pitch
              </label>
              {{d-editor value=form.reason}}
              <br />
            </div>
            <div class="footer">
              <button
                type="button"
                class="k-btn btn-danger"
                onClick={{toggleModal}}
              >
                Cancel
              </button>
              <button type="submit" class="k-btn btn-success">
                Send
              </button>
            </div>
          </div>
        </form>
      {{else}}
        <div class="karma-form-submitted-message">
          <p>
            {{message}}
          </p>
        </div>
      {{/unless}}
    {{/if}}
  </div>
{{/if}}
