{{#if (and hasSetApiKey shouldShow)}}
  {{delegate-pitch-form profile=profile onClose=toggleDelegate}}
  {{vote-reason-form profile=profile onClose=toggleVote}}
  <div class="k-dropdown-wrap">
    <div style="width:fit-content">
      <button type="button" class="k-btn btn-info" onclick={{onClick}}>
        Delegate Actions
      </button>
      {{#if isOpen}}
        <div class="k-dropdown">
          <div class="triangle"></div>
          {{#if siteSettings.Show_delegate_pitch_form}}
            <div class="k-option">
              <button
                type="button"
                class="k-btn btn-link"
                onClick={{toggleDelegate}}
              >
                Delegate pitch
              </button>
            </div>
          {{/if}}
          {{#if siteSettings.Show_vote_reason_form}}
            <div class="k-option">
              <button
                type="button"
                class="k-btn btn-link"
                onClick={{toggleVote}}
              >
                Submit vote reason
              </button>
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
