<div class="proposal" onclick={{redirect}} style={{pointer}}>
  <div class="proposal-title">
    <div class="proposal-description t-ellipsis">
      {{html-safe proposal.title}}
    </div>
  </div>
  <div class="proposal-due-date">
    {{proposal.type}}
    |
    {{proposal.voteCount}}
    votes | End date:
    {{proposal.endsAt}}
    {{#if proposal.dateDescription}}
      -
      {{proposal.dateDescription}}
      <span class="redirect-text">
        {{d-icon "link"}} {{text}}
      </span>
    {{/if}}
  </div>
</div>