{{#if (and siteSettings.Show_proposal_banner shouldShow)}}
  <div class="wrap __banner-link-banner">
    <div class="__banner-wrapper">
      <div class="__banner-content-wrapper">
        <div class="__banner-content">
          {{#if siteSettings.Show_icon_on_banner}}
            <div class="logo">
              <img src={{logo}} height="40" />
            </div>
          {{/if}}
          <div>
            <h2>
              {{siteSettings.Banner_title}}
            </h2>
            <p>
              {{siteSettings.Banner_description}}
            </p>
          </div>
        </div>
        <div class="links-wrapper">
          <div class="featured-banner-link">
            {{#each bannerLinks as |link|}}
              {{#if link.url}}
                <div>
                  <a
                    class="k-btn btn-secondary"
                    href={{link.url}}
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    {{d-icon link.icon}}
                    <span>
                      {{link.text}}
                    </span>
                  </a>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
      <div style="margin-bottom:2em">
        {{#if fetched}}
          {{#unless proposals.length}}
            <h4 style="text-align:center;">
              No active proposals found.
            </h4>
          {{/unless}}
        {{else}}
          {{karma-loading}}
        {{/if}}
      </div>
      <div class="banner-body">
        <div
          class={{html-safe (concat "active-proposals-wrapper" " " openClass)}}
          style={{html-safe (concat "height: " bannerHeight ";")}}
        >
          {{#each proposals as |proposal|}}
            {{proposal-item proposal=proposal tokenContract=tokenContract}}
          {{/each}}
        </div>
        {{#if (gte proposals.length 2)}}
          <button
            class={{concat "reveal-more-button" " " openClass}}
            onclick={{toggleBanner}}
            type="button"
          >
            <div class="available-to-show">
              {{#unless openClass}}
                {{availableToShow}}
                hidden
              {{else}}
                Hide list
              {{/unless}}
            </div>
            {{d-icon "chevron-down"}}
          </button>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
