{{#if (and siteSettings.Show_proposal_banner shouldShow)}}
  {{#if fetched}}
    {{#if proposals.length}}
      <div class="__banner-wrapper">
        <div class="__banner-content-wrapper">
          <div class="__banner-content">
            <div>
              <h2>
                {{siteSettings.Banner_title}}
              </h2>
              <p>
                {{siteSettings.Banner_description}}
              </p>
            </div>
          </div>
          {{banner-links links=bannerLinks}}
        </div>
        <div class="banner-body">
          <div
            class={{
              html-safe (concat "active-proposals-wrapper" " " openClass)
            }}
            style={{html-safe (concat "height: " bannerHeight ";")}}
          >
            {{#each proposals as |proposal|}}
              {{proposal-item proposal=proposal tokenContract=tokenContract}}
            {{/each}}
          </div>
        </div>
        {{#if (gte proposals.length 2)}}
          <div class="reveal-button-wrapper">
            <button
              class={{concat "reveal-more-button" " " openClass}}
              onclick={{toggleBanner}}
              type="button"
            >
              <div class="available-to-show">
                {{#unless openClass}}
                  View
                  {{availableToShow}}
                  more proposals
                {{else}}
                  Hide proposals
                {{/unless}}
              </div>
              {{d-icon "chevron-down"}}
            </button>
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{else}}
    {{karma-loading}}
  {{/if}}
{{/if}}
