<div class="proposal" style={{pointer}}>
  <div class="proposal-title d-md-none">
    <div class="proposal-description t-ellipsis">
      {{html-safe proposal.title}}
    </div>
  </div>
  <div class="proposal-details">
    <div class="proposal-actions">
      <div class="proposal-title d-md-rev-none">
        <div class="proposal-description">
          {{html-safe proposal.title}}
        </div>
      </div>

      <div class="proposal-due-date t-light">
        {{#if showRedirectButton}}
          <button
            type="button"
            class="k-btn btn-info pt-2 pb-2"
            onclick={{redirect}}
          >
            View proposal
            {{d-icon "link"}}
          </button>
        {{/if}}
        <div class="date">
          {{text}}
        </div>
        {{! <span class="redirect-text">
      </span> }}
      </div>
    </div>
    <div class="vote-breakdown">
      {{vote-breakdown loading=loading breakdown=proposal.voteBreakdown}}
    </div>
  </div>
</div>
