<div class="proposal" onclick={{redirect}} style={{pointer}} role="button">
  <div class="proposal-title">
    <div class="proposal-description t-ellipsis">
      {{html-safe proposal.title}}
    </div>
  </div>
  <div class="vote-breakdown">
    {{vote-breakdown breakdown=proposal.voteBreakdown}}
  </div>
  <div class="proposal-due-date">
    {{proposal.type}}
    |
    {{proposal.voteCount}}
    voters | End date:
    {{proposal.endsAt}}
    {{#if proposal.dateDescription}}
      -
      {{proposal.dateDescription}}
    {{/if}}
    <span class="redirect-text">
      {{d-icon "link"}} {{text}}
    </span>
  </div>
</div>
