{{#if siteSettings.Show_vote_reason_form}}
  {{#unless hideButton}}
    <button
      type="button"
      class="__karma-send-reason-btn k-btn btn-link"
      onClick={{onClose}}
    >
      Submit vote reason
    </button>
  {{/unless}}
  <div
    id={{modalId}}
    class="__karma-vote-form-modal"
    style="display:none;opacity:0;transform:translateY(20px)"
  >
    <div class="backdrop">
    </div>
    {{#if loading}}
      {{karma-loading message="Submitting data, please wait."}}
    {{else}}
      {{#unless message.length}}
        <div class="modal-body">
          <form onSubmit={{submit}}>
            <div class="modal-content">
              <div class="close-button" onClick={{onClose}}>
                {{d-icon "times"}}
              </div>
              <div class="modal-header">
                <p>
                  Submit vote reason
                </p>
                <small>
                  When you sumit your voting reason, a link to the proposal along with your reason will be posted to your thread.
                  The reason will be displayed in the delegate dashboard in your voting history secion.
                </small>
              </div>
              <div class="form-reason">
                <label for="thread-id">
                  Select forum thread
                </label>
                <select
                  name="thread-id"
                  value={{threadId}}
                  required
                  class="k-input"
                >
                  {{#if proposalLoading}}
                    <option value="-1" disabled>
                      Loading...
                    </option>
                  {{else if (not threads.length)}}
                    <option value="-1" disabled>
                      We couldn't find any of your forum threads. Please, create a thread where you want your vote reasons posted
                    </option>
                  {{else}}
                    <option value="-1" disabled>
                      Select an option
                    </option>
                    {{! TODO: needs to check what about the category }}
                    {{! <option value="-2">
                    Create a topic
                  </option> }}
                  {{/if}}
                  {{#each threads as |thread index|}}
                    <option value={{index}}>
                      {{thread.name}}
                    </option>
                  {{/each}}
                </select>

                <label for="reason">
                  Proposal
                </label>
                <select
                  name="reason"
                  class="k-input"
                  placeholder="I voted FOR, because I believe this is a good proposal."
                  value={{proposalId}}
                  onchange={{setProposal}}
                  required
                >
                  <option value="null" disabled selected>
                    {{#if proposalLoading}}
                      Loading...
                    {{else}}
                      Select a proposal
                    {{/if}}
                  </option>
                  {{#each proposals as |proposal index|}}
                    <option value={{index}} selected={{eq proposalId index}}>
                      {{#if proposal.reason}}
                        ✔
                      {{/if}}
                      ({{proposal.type}})
                      {{proposal.title}}
                    </option>
                  {{/each}}
                </select>
                <br />
                {{#each fields as |field|}}
                  <label>
                    {{field.label}}<br />
                  </label>
                  {{#if (eq field.type "text")}}
                    <div class="editor-large">
                      {{d-editor value=field.value}}
                    </div>
                  {{else if (eq field.type "select")}}
                    {{multi-select content=field.options value=field.value}}
                  {{else}}
                    <input
                      type={{field.type}}
                      value={{field.value}}
                      class="k-input"
                    />
                  {{/if}}
                {{/each}}
              </div>
              {{#if errors.length}}
                {{#each errors as |error|}}
                  <span class="error" style="color:var(--danger)">
                    {{error}}
                  </span>
                  <br />
                {{/each}}
              {{/if}}
              <div class="footer">
                <div>
                  {{#if form.postId}}
                    You have already submitted a
                    <a
                      rel="noreferrer noopener"
                      target="_blank"
                      href={{html-safe (concat "/p/" form.postId)}}
                    >
                      vote reason
                    </a>
                  {{/if}}
                </div>
                <div>
                  <button
                    type="button"
                    class="k-btn btn-link"
                    onClick={{onClose}}
                  >
                    Cancel
                  </button>
                  <button type="submit" class="k-btn btn-info">
                    {{#if form.postId}}
                      Update
                    {{else}}
                      Submit
                    {{/if}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      {{else}}
        <div class="karma-form-submitted-message">
          <p>
            {{message}}
          </p>
        </div>
      {{/unless}}
    {{/if}}
  </div>
{{/if}}
