{{!-- {{#if votes.length}} --}}
<div class="breakdown against" style={{concat "width:" againstPct}}>
  <b>
    Against
  </b>
  {{breakdown.no}} votes
</div>

<div class="breakdown for" style={{concat "width:" forPct}}>
  <b>
    For
  </b>
  {{breakdown.for}} Votes
</div>
<div class="breakdown abstain" style={{concat "width:" abstainPct}}>
  <b>
    Abstain
  </b>
  {{breakdown.abs}} votes
</div>
{{!-- {{/if}} --}}
