{{#if siteSettings.Show_vote_reason_form}}
  {{#unless hasSetReason}}
    <button
      type="button"
      class="__karma-send-reason-btn k-btn btn-link"
      onClick={{toggleModal}}
    >
      Submit vote reason
    </button>
  {{/unless}}

  <div
    id={{modalId}}
    class="__karma-vote-form-modal"
    style="display:none;opacity:0;transform:translateY(20px)"
  >
    <div class="backdrop" onClick={{toggleModal}}>
    </div>
    {{#if loading}}
      {{karma-loading message="Submitting data, please wait."}}
    {{else}}
      {{#unless message.length}}
        <form onSubmit={{submit}}>
          <div class="modal-content">
            <p class="modal-header">
              Enter a Voting Reason
            </p>
            <div class="form-reason">
              <label for="thread-id">
                Your vote reasons thread
              </label>
              <select
                name="thread-id"
                onchange={{setThreadId}}
                required
                class="k-input"
              >
                {{#if proposalLoading}}
                  <option value="null" disabled selected={{eq threadId -1}}>
                    Loading...
                  </option>
                {{else}}
                  <option value="null" disabled selected={{eq threadId -1}}>
                    Select an option
                  </option>
                  {{! TODO: needs to check what about the category }}
                  {{! <option value="-2">
                    Create a topic
                  </option> }}
                {{/if}}
                {{#each threads as |thread index|}}
                  <option value={{index}} selected={{eq threadId index}}>
                    {{thread.name}}
                  </option>
                {{/each}}
              </select>

              <label for="reason">
                Proposal
              </label>
              <select
                name="reason"
                class="k-input"
                placeholder="I voted FOR, because I believe this is a good proposal."
                value={{proposalId}}
                onchange={{setProposal}}
                required
              >
                <option value="null" disabled selected>
                  {{#if proposalLoading}}
                    Loading...
                  {{else}}
                    Select an option
                  {{/if}}
                </option>
                {{#each proposals as |proposal index|}}
                  <option value={{index}}>
                    {{#if proposal.reason}}
                      ✔
                    {{/if}}
                    ({{proposal.type}})
                    {{proposal.title}}
                  </option>
                {{/each}}
              </select>
              <br>
              <label for="reason">
                Summary
              </label>
              {{d-editor value=form.summary}}
              <br>
              <label for="reason">
                Recommendation
              </label>
              {{d-editor value=form.recommendation}}
              <br>
            </div>
            {{#if errors.length}}
              {{#each errors as |error|}}
                <span class="error" style="color:var(--danger)">
                  {{error}}
                </span>
                <br>
              {{/each}}
            {{/if}}
            <div class="footer">
              <div>
                {{#if form.postId}}
                  You have already submitted a
                  <a
                    rel="noreferrer noopener"
                    target="_blank"
                    href={{html-safe (concat "/p/" form.postId)}}
                  >
                    vote reason
                  </a>
                {{/if}}
              </div>
              <div>
                <button
                  type="button"
                  class="k-btn btn-transparent"
                  onClick={{toggleModal}}
                >
                  Cancel
                </button>
                <button type="submit" class="k-btn btn-info">
                  {{#if form.postId}}
                    Update
                  {{else}}
                    Send
                  {{/if}}
                </button>
              </div>
            </div>
          </div>
        </form>
      {{else}}
        <div class="karma-form-submitted-message">
          <p>
            {{message}}
          </p>
        </div>
      {{/unless}}
    {{/if}}
  </div>
{{/if}}
