{{#if loading}}
  <div style="width:100%">
    <div style="transform:scale(0.5)">
      {{karma-loading}}
    </div>
  </div>
{{else}}

  {{#if values.length}}

    {{#each values as |value|}}
      {{#if (eq value.shortname "Others")}}
        <div style="color: var(--tertiary)">
          <button onclick={{redirect}} type="button" style="border:none;background:transparent">
            View more options
            {{d-icon "link"}}
          </button>
        </div>
      {{else}}
        <div class="breakdown">
          <div style="display:flex;justify-content:space-between">
            <div>
              <b class="mr-3">
                {{value.shortname}}
              </b>
              <span class="t-light">
                {{#if siteSettings.Show_results}}
                  <b>
                    {{value.count}}
                    votes
                  </b>
                {{/if}}
              </span>
            </div>
            <div>
              {{#if siteSettings.Show_results}}
                <b>
                  {{value.pct}}
                </b>
              {{/if}}
            </div>
          </div>
          <div
            class="breakdown-progress"
            style="max-height:100%;width:100%;overflow:hidden"
          >

            {{#if siteSettings.Show_results}}
              <div
                class="breakdown-progress-fill"
                style={{html-safe (concat "width:" value.fillPct)}}
              >
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
{{/if}}
