{{#if siteSettings.Enable_Karma_plugin}}
  <div class="__karma-stats">
    <input hidden id="__dao-username" readonly value={{this.user.username}} />
    <div class="__wrapper">
      <div style="display:flex;align-items:center;margin:10px 0;">
        {{#if siteSettings.Show_Karma_logo}}
          <a
            alt="Show Karma App"
            href="https://showkarma.xyz"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://www.showkarma.xyz/icons/karma-logo.svg"
              height="28"
              width="28"
            />
          </a>
        {{/if}}
        <b>
          Governance Stats
        </b>
      </div>
      <div class="__loading" style="display:none">
        Loading governance stats from Karma
      </div>
      {{#if siteSettings.User_not_found_message}}
        <div class="__has-error" style="display:none;">
          {{html-safe siteSettings.User_not_found_message}}
        </div>
      {{/if}}
      <div class="__has-score" style="display:none;">
        {{#if siteSettings.Show_Karma_score}}
          <b>
            Karma score:
          </b>
          <span id="__dao-exp">
            0
          </span>
          <br />
        {{/if}}
        {{#if siteSettings.Show_health_score}}
          <b>
            Health score:
          </b>
          <span id="__health-score">
            0
          </span>
          <br />
        {{/if}}
        {{#if siteSettings.Show_delegated_votes}}
          <b>
            Delegated votes:
          </b>
          <span id="__delegated-votes">
            0
          </span>
          <br />
        {{/if}}
        {{#if siteSettings.Show_snapshot_votes}}
          <b>
            Snapshot voting:
          </b>
          <span id="__snapshot-voting-stats">
            0%
          </span>
          <br />
        {{/if}}
        {{#if siteSettings.Show_on_chain_votes}}
          <b>
            On-chain voting:
          </b>
          <span id="__on-chain-voting-stats">
            0%
          </span>
          <br />
        {{/if}}
      </div>
    </div>
    {{#if (gt siteSettings.Show_voting_history 0)}}
      <div id="__karma-voting-wrapper" style="display:none">
        <div style="display:flex;align-items:center;margin:10px 0;">
          {{#if siteSettings.Show_Karma_logo}}
            <a
              alt="Show Karma App"
              id="__karma-user-profile"
              href={{"https://showkarma.xyz/"}}
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://www.showkarma.xyz/icons/karma-logo.svg"
                height="28"
                width="28"
              />
            </a>
          {{/if}}
          <b>
            Voting History
          </b>
          <br />
        </div>
        <small class="text-disabled">
          Showing latest
          {{siteSettings.Show_voting_history}}
          {{this.user.username}}'s votes
        </small>
        <div id="__karma-voting-history">
          <div class="loading">
            Loading voting history
          </div>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}